<div id="taskHistoryHeader">
    <h2>
        История версий задания № {{:#data[0].taskId}}
        <button type="button" onclick="currentTask.historyObject.toggle()">X</button>
    </h2>
</div>
<div id="taskHistoryContent">
    <table>
        <thead>
            <tr>
                <th>
                    Исполнитель
                </th>
                <th>
                    Награда
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Обновлена
                </th>
            </tr>
        </thead>
        <tbody>
            {{for}}
            <tr>
                <td>
                    {{if performer}} {{:performer.employeeName}}
                    {{else}} Отсутствует {{/if}}
                </td>
                <td>
                    {{if moneyAward}} {{:moneyAward}}
                    {{else}} Отсутствует  {{/if}}
                </td>
                <td>
                    {{:statusName}}
                </td>
                <td>
                    {{:createVersionDate}}
                </td>
            </tr>
            {{/for}}
        </tbody>
    </table>
</div>