<div id="taskHistoryHeader" class="modal-header">
    <h2>
        История версий задания № {{:#data[0].taskId}}
    </h2>
    <button type="button" class="close-button" onclick="currentTask.historyObject.toggle()">X</button>
</div>
<div id="taskHistoryContent">
    <table class="history-table">
        <thead>
            <tr>
                <th>
                    Исполнитель
                </th>
                <th>
                    Награда
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Обновлена
                </th>
            </tr>
        </thead>
        <tbody>
            {{for}}
            <tr>
                <td>
                    {{if performer}} {{:performer.employeeName}}
                    {{else}} Отсутствует {{/if}}
                </td>
                <td>
                    {{if moneyAward}} {{:moneyAward}}
                    {{else}} Отсутствует {{/if}}
                </td>
                <td>
                    {{:statusName}}
                </td>
                <td>
                    {{:createVersionDate}}
                </td>
            </tr>
            {{/for}}
        </tbody>
    </table>
</div>