<div id="taskComments" class="comments">
    {{for result}}
    <div class="rowComment">
        <div class="commentHeader">
            {{:employeeName}}
        </div>
        <div class="commentMessage">
            {{:message}}
        </div>
        <div>
            {{:createDate}}
        </div>
    </div>
    {{/for}}
</div>
<div id="addComment">
    <div class="add-comment">
        <textarea id="commentMessage" name="message" placeholder="Введите комментарий" onchange="currentTask.setCurrentComment(this.value)" maxlength="300"></textarea>
        <button type="button" class="btn btn-primary" onclick="currentTask.saveComment()">></button>
    </div>
    <p id="commentValidation" class="text-danger"></p>
</div>