<div id="taskComments" class="comments">
    {{for result}}
    <div class="rowComment">
        <label>
            {{:employeeName}} :: {{:message}}
        </label>
    </div>
    {{/for}}
</div>
<div id="addComment" class="form-group">
    <input id="commentMessage" name="message" placeholder="Введите комментарий" onchange="currentTask.setCurrentComment(this.value)" />
    <button type="button" class="btn btn-primary" onclick="currentTask.saveComment()">Добавить</button>
    <span id="commentValidation" style="float: right;"></span>
</div>