<table class="table table-condensed col-md-6">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Тема</th>
            <th>Текущий статус</th>
            <th>Срок окончания</th>
        </tr>
    </thead>
    <tbody>
        {{for result}}
        <tr class="rowTask" onclick={setCurrentTask({{: taskId }})}>
            <td>
                {{:taskId}}
            </td>
            <td>
                {{:taskName}}
            </td>
            <td>
                {{:theme.themeName}}
            </td>
            <td>
                {{:statusName}}
            </td>
            <td>
                {{:expireDate}}
            </td>
        </tr>
        {{/for}}
    </tbody>
</table>