@using TaskSystem.Models.Objects
@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Система управления заданиями</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" id="btnShowTasks" onclick="taskList.getAll()">Список заданий</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" id="btnShowEmployees" onclick="employeeList.getAll()">Список работников</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выйти из аккаунта</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TaskSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script id="resultTemplate" type="text/x-jsrender">
        {{if status = "0"}}
        <label>Действие выполнено успешно</label>
        {{/if}}
        {{if errorMessage}}
        <br>
        {{:errorMessage}}
        {{/if}}
    </script>
    <script id="themesTemplate" type="text/x-jsrender">
        {{for}}
        <div>
            <label>
                Тема № {{:id}}
            </label>
            <label>
                {{:name}}
            </label>
        </div>
        {{/for}}
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
