@model TaskSystem.Dto.WorkTaskDto

    <dialog open id="taskInfoContainer">
        <div id="taskInfoHeader">
            <label>Задание №</label>
            <button>X</button>
        </div>
        <div id="taskInfoContent"></div>
        <div id="taskActions">
            <div>
                <dialog id="setMoneyAward">
                    <div id="moneyHeader">
                        <b>Награда за выполнение</b>
                        <button>X</button>
                    </div>
                    <div class="form-group">
                        <label for="moneyAward" class="control-label">Награда</label>
                        <input name="moneyAward" class="form-control" />
                        <button type="button" name="statusId" value="2">Принять</button>
                    </div>
                </dialog>
                <button type="button">В работу</button> <!--вызов setMoneyAward-->
                <button type="button" name="statusId" value="3">Приостановить</button>
                <button type="button" name="statusId" value="4">Выполнить</button>
                <button type="button" name="statusId" value="5">Отменить</button>
            </div>
            <button type="button">История версий</button>
            <dialog id="taskHistoryContainer">
                
            </dialog>
        </div>
        <div id="commentSection" class="commentSection">
            <div id="taskComments" class="comments">

            </div>
            <div id="addComment" class="form-group">
                <input name="message" placeholder="Введите комментарий" />
                <button type="button" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </dialog>