@{
    ViewData["Title"] = "Home Page";
}
@using TaskSystem.Models.Dto
<div class="text-center">
    <div id="addSection" class="add-section">
        <button id="btnAddTask" type="button" onclick="addTask.toggle()">Добавить задание</button>
        <button id="btnAddTheme" type="button" onclick="addTheme.toggle()">Добавить тему</button>
    </div>
    <div id="taskStatusSection" class="toolbar">
        <button class="toolbar-element" onclick="taskList.getAll()">Все задания</button>
        <button class="toolbar-element" id="btnTaskStatus" value="1" onclick="taskList.getByStatus(1)">Новые</button>
        <button class="toolbar-element" name="taskStatus" value="2" onclick="taskList.getByStatus(2)">В работе</button>
        <button class="toolbar-element" name="taskStatus" value="3" onclick="taskList.getByStatus(3)">Приостановленные</button>
        <button class="toolbar-element" name="taskStatus" value="4" onclick="taskList.getByStatus(4)">Выполненные</button>
        <button class="toolbar-element" name="taskStatus" value="5" onclick="taskList.getByStatus(5)">Отмененные</button>
    </div>
    <div id="mainTable" class="main-table">

    </div>
    <dialog id="addTask">
        <div>
            <div id="addTaskHeader" class="modal-header">
                <b>Добавить задание</b>
                <button type="button" class="close-button" onclick="addTask.toggle()">X</button>
            </div>
            <form id="addTaskContent">
                <div>
                    <a for="taskName">Название</a>
                    <input name="taskName" type="text" required maxlength="100" />
                </div>
                <div>
                    <a for="taskTheme">Тема</a>
                    <div>
                        <input id="taskTheme" name="taskTheme" type="text" required oninput="ThemeRepository.ShowSuggests(this.value)" maxlength="100" />
                        <div id="suggestsThemes" style="display: none;"></div>
                    </div>
                </div>
                <a for="taskDescription">Описание</a>
                <textarea name="taskDescription" placeholder="Описание" required maxlength="500"></textarea>

                <a for="taskExpireDateTime">Дата окончания</a>
                <input name="taskExpireDateTime" type="datetime-local" required />
                <input type="hidden" id="themeId" name="themeId" value=0>
                <div>
                    <button type="button" onclick="addTask.submit()">Добавить</button>
                    <p id="addTaskValidation" class="text-danger"></p>
                </div>
            </form>
        </div>
    </dialog>
    <dialog id="addTheme">
        <div class="modal-header">
            <b>Добавить тему</b>
            <button type="button" class="close-button" onclick="addTheme.toggle()">X</button>
        </div>
        <form id="addThemeContent">
            <label for="themeName">Название темы</label>
            <input name="themeName" type="text" maxlength="100"/>
            <input type="button" value="Добавить" onclick="addTheme.submit()" />
            <p id="addThemeValidation" class="text-danger"></p>
        </form>
    </dialog>
    <dialog id="taskInfoContainer">
    </dialog>
</div>

<script src="~/js/GetTemplate.js" asp-append-version="true"></script>
<script src="https://www.jsviews.com/download/jsrender.js"></script>

<script src="~/js/Repositories/FetchHelper.js" asp-append-version="true"></script>
<script src="~/js/Repositories/CommentRepository.js" asp-append-version="true"></script>
<script src="~/js/Repositories/EmployeeRepository.js" asp-append-version="true"></script>
<script src="~/js/Repositories/TaskRepository.js" asp-append-version="true"></script>
<script src="~/js/Repositories/ThemeRepository.js" asp-append-version="true"></script>

<script src="~/js/TaskObject.js" asp-append-version="true"></script>
<script src="~/js/AddTask.js" asp-append-version="true"></script>
<script src="~/js/AddTheme.js" asp-append-version="true"></script>
<script src="~/js/EmployeeList.js" asp-append-version="true"></script>
<script src="~/js/TaskList.js" asp-append-version="true"></script>
<script src="~/js/HistoryObject.js" asp-append-version="true"></script>
<script src="~/js/StatusObject.js" asp-append-version="true"></script>


