@{
    ViewData["Title"] = "Home Page";
}
@using TaskSystem.Dto
<div class="text-center">
    <div id="addSection" class="add-section">
        <button id="btnAddTask" type="button" onclick="addTask.toggle()">Добавить задание</button>
        <button id="btnAddTheme" type="button" onclick="addTheme.toggle()">Добавить тему</button>
    </div>
        <div id="taskStatusSection" class="toolbar">
            <button class="toolbar-element" onclick="taskList.getAll()">Все задания</button>
            <button class="toolbar-element" id="btnTaskStatus" value="1" onclick="taskList.getByStatus(1)">Новые</button>
            <button class="toolbar-element" name="taskStatus" value="2" onclick="taskList.getByStatus(2)">В работе</button>
            <button class="toolbar-element" name="taskStatus" value="3" onclick="taskList.getByStatus(3)">Приостановленные</button>
            <button class="toolbar-element" name="taskStatus" value="4" onclick="taskList.getByStatus(4)">Выполненные</button>
            <button class="toolbar-element" name="taskStatus" value="5" onclick="taskList.getByStatus(5)">Отмененные</button>
        </div>
        <div id="mainTable" class="main-table">

        </div>
        <dialog id="addTask">
            <div id="addTaskHeader" class="modal-header">
                <b>Добавить задание</b>
                <button type="button" onclick="addTask.toggle()">X</button>
            </div>
            <form id="addTaskContent">
                <label for="taskName" class="control-label">Название</label>
                <input name="taskName" class="form-control" type="text" required />
                <div class="form-group">
                    <label for="taskTheme" class="control-label">Тема</label>
                    <input id="taskTheme" name="taskTheme" class="form-control" type="text" required oninput="ThemeRepository.ShowSuggests(this.value)" />
                    <div id="suggestsThemes" style="display: none;"></div>
                </div>

                <label for="taskDescription" class="control-label" style="display: block;">Описание</label>
                <textarea name="taskDescription" class="form-control" placeholder="Описание" required style="display: block;"></textarea>

                <label for="taskExpireDateTime" class="control-label" style="display: block;">Дата окончания</label>
                <input name="taskExpireDateTime" class="form-control" type="datetime-local" required style="display: block;"/>
                <input type="hidden" id="themeId" name="themeId" value=0>
                <div class="form-group">
                    <button type="button" onclick="addTask.submit()" class="btn btn-primary">Добавить</button>
                    <span id="addTaskValidation"></span>
                </div>
            </form>
        </dialog>
        <dialog id="addTheme">
            <div class="modal-header">
                <b>Добавить тему</b>
                <button type="button" onclick="addTheme.toggle()">X</button>
            </div>
            <form id="addThemeContent">
                <label for="themeName" class="control-label">Название темы</label>
                <input name="themeName" class="form-control" type="text" />
                <p id="addThemeValidation" class="text-danger"></p>
                <input type="button" value="Добавить" class="btn btn-primary" onclick="addTheme.submit()" />
            </form>
        </dialog>
        <dialog id="taskInfoContainer">
        </dialog>
</div>



<script src="https://www.jsviews.com/download/jsrender.js"></script>

<script src="~/js/Repositories/CommentRepository.js" asp-append-version="true"></script>
<script src="~/js/Repositories/EmployeeRepository.js" asp-append-version="true"></script>
<script src="~/js/Repositories/FetchHelper.js" asp-append-version="true"></script>
<script src="~/js/Repositories/TaskRepository.js" asp-append-version="true"></script>
<script src="~/js/Repositories/ThemeRepository.js" asp-append-version="true"></script>

<script src="~/js/TaskObject.js" asp-append-version="true"></script>
<script src="~/js/AddTask.js" asp-append-version="true"></script>
<script src="~/js/AddTheme.js" asp-append-version="true"></script>
<script src="~/js/EmployeeList.js" asp-append-version="true"></script>
<script src="~/js/TaskList.js" asp-append-version="true"></script>
<script src="~/js/HistoryObject.js" asp-append-version="true"></script>
<script src="~/js/StatusObject.js" asp-append-version="true"></script>


